<div class="container-fluid">
    <h2>Add Beacon</h2>
    <div class="row">
      <div class="col">
        <div>
          <label>UUID:
            <input #uuid />
          </label>
        </div>
        <div>
          <label>Major:
            <input #major />
          </label>
        </div>
        <div>
          <label>Minor:
            <input #minor />
          </label>
        </div>
        <div>
          <label>Activo:
            <select  #activo>
              <option value="1">true</option>
              <option value="0">false</option>
            </select>
          </label>
        </div>
  
        <button class="btn btn-primary" 
        (click)="save(uuid.value,major.value,minor.value,activo.value);
        uuid.value='';major.value='';minor.value='';">
          Add
        </button>
      </div>
  
      <div class="col card text-center" *ngIf="select">
        <h2>Beacon Info</h2>
        <ul>
          <li><strong>Id:</strong> {{beacon.id}}</li>
          <li><strong>UUID:</strong> {{beacon.uuid}}</li>
          <li><strong>Major:</strong> {{beacon.major}}</li>
          <li><strong>Minor:</strong> {{beacon.minor}}</li>
          <li><strong>Activo:</strong> {{beacon.active}}</li>
        </ul>
        <!--<div>
          <button class="btn btn-danger" 
          (click)="delete(beacon.id);">
            Delete
          </button>
        </div>-->
      </div>
    </div>
  
    <h2>Beacon List</h2>
  
    <table class="table" *ngIf="beacons">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">UUID</th>
        <th scope="col">Major</th>
        <th scope="col">Minor</th>
        <th scope="col">Activo</th>
      </tr>
      <tr *ngFor="let beacon of beacons" (click)="selectedItem(beacon.id)">
        <td scope="row">{{beacon.id}}</td>
        <td>{{beacon.uuid}}</td>
        <td>{{beacon.major}}</td>
        <td>{{beacon.minor}}</td>
        <td>{{beacon.active}}</td>
      </tr>
    </table>
  </div>