<div class="container-fluid">
  <h2>Add Product</h2>
  <div class="row">
    <div class="col">
      <div>
        <label>Name:
          <input #name />
        </label>
      </div>
      <div>
        <label>Description:
          <input #description />
        </label>
      </div>
      <div>
        <label>Size:
          <input #size />
        </label>
      </div>
      <div>
        <label>Color:
          <input type="color" #color />
        </label>
      </div>
      <div>
        <label>Category:
          <select  #category>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
        </label>
      </div>

      <button class="btn btn-primary" 
      (click)="save(name.value,description.value,size.value,color.value,category.value);
      name.value='';description.value='';size.value='';">
        Add
      </button>
    </div>

    <div class="col card" *ngIf="select">
      <h2>Product Info</h2>
      <ul>
        <li><strong>Name:</strong> {{product.name}}</li>
        <li><strong>Description:</strong> {{product.description}}</li>
        <li><strong>Size:</strong> {{product.size}}</li>
        <li><strong>Color:</strong> {{product.color}}</li>
        <li><strong>Category:</strong> {{product.category.name}}</li>
        <li>
          <strong>Images:</strong>
          <ul>
            <li *ngFor="let image of product.images">
              {{image.name}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <h2>Product List</h2>

  <table class="table" *ngIf="products">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Category</th>
    </tr>
    <tr *ngFor="let product of products" (click)="selectedItem(product.id)">
      <td scope="row">{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.size}}</td>
      <td>{{product.category.name}}</td>
    </tr>
  </table>
</div>