<div class="container-fluid">
    <h2>Add User</h2>
    <div class="row">
      <div class="col">
        <div>
          <label>Name:
            <input #name />
          </label>
        </div>
        <div>
          <label>Email:
            <input #email />
          </label>
        </div>
        <div>
          <label>Phone:
            <input #phone />
          </label>
        </div>
        <div>
          <label>Facebook:
            <input #facebook />
          </label>
        </div>
        <button class="btn btn-primary" (click)="save(name.value,email.value,phone.value,facebook.value); 
        name.value=''; email.value=''; phone.value=''; facebook.value='';">
          Add
        </button>
      </div>
  
      <div class="col card" *ngIf="select">
        <h2>User Info</h2>
        <ul>
          <li><strong>Name:</strong> {{user.name}}</li>
          <li><strong>Email:</strong> {{user.email}}</li>
          <li><strong>Phone:</strong> {{user.phone_number}}</li>
          <li><strong>Facebook:</strong> {{user.facebook}}</li>
        </ul>
        <div class="text-center">
          <button class="btn btn-danger" 
          (click)="delete(user.id);">
            Delete
          </button>
        </div>
      </div>
    </div>
  
    <h2>Users List</h2>
  
    <table class="table" *ngIf="users">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      <tr *ngFor="let user of users" (click)="selectedItem(user.id)">
        <td scope="row">{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
    </table>
  </div>